<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <urlCompression doStaticCompression="true" doDynamicCompression="true" />
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="index.cfm" />
                <add value="Default.htm" />
                <add value="_holding.php" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
                <add value="_holding.htm" />
            </files>
        </defaultDocument>
        <security>
            <ipSecurity>
                <add ipAddress="202.141.226.196" allowed="true" />
            </ipSecurity>
        </security>
       
    </system.webServer>
</configuration>
